.contact
  .row
    .col-xs-7
      a.contact__phone(href="tel:+380507965289") +38 (050) 796-52-89
      .contact__text п. Кировское, ул. Тихая 106
    .col-xs-5.text-center
      a.contact__link(href="#header__modal" data-toggle="modal")
        .contact__icon
        | Заказать звонок