- var title = 'Главная страница'
- var page = {}
- 
  var socials = 
    [
      {
        icon: 'inst',
        link: '#'
      },
      {
        icon: 'fb',
        link: '#'
      },
      {
        icon: 'youtube',
        link: '#'
      }
    ]

//- Restaurant PAGE
- 
  var content = {
    restaurant: {
      header_class: 'header--restaurant',
      h1: 'Ресторан экопарка “7 небо”',
      subheading: 'Европейская кухня, которая базируется на аутентичных эко-технологиях с применением только натуральных, органических продуктов из собственных ферм и огородов.',
      advantages: 
      [
        {
          name: 'Завтрак',
          icon: 'ic--dinner'
        }, 
        {
          name: 'Открытые печи',
          icon: 'ic--fire'
        }, 
        {
          name: 'Винный погреб',
          icon: 'ic--wine'
        },
        {
          name: 'Банкетный зал',
          icon: 'ic--cake'}
      ],
      content: 
      [
        {
          icon: 'ic--restaurant1',
          heading: 'Завтрак',
          subheading: 'Начните день с хорошего настроения',
          text: 
          [
            'Изысканный и вкусный завтрак ждёт вас каждое утро C 8.30 до 11.00 , мы предлафгаем специальное меню завтраков, которое придётся по вкусу любому гостью.'
          ]
        }, 
        {
          icon: 'ic--restaurant2',
          text: 
          [
            'Открытые печи для организации шоу kitchen и кулинарных батлов, более 80% блюд нашего ресторана готовятся в печи и на углях'
          ]
        }, 
        {
          icon: 'ic--restaurant3',
          text: 
          [
            'Винный погреб для дегустаций эксклюзивных сортов вин и других элитных напитков, которые можно попробовать только у нас.'
          ]
        }, 
        {
          icon: 'ic--restaurant4',
          text: 
          [
            '2 банкетных зала и летняя терраса ресторана – все что нужно, для вашего идеального праздника. К Вашим услугам закрытая локация с шоу-гриль зоной для приготовления блюд на огне. Где вы можете провести кантри или бохо вечеринку. Блюда нашего шеф-повара придутся по вкусу даже самому искушенному гурману!'
          ]
        }
      ]
    }, //- restaurant
    circle: 
    {
      header_class: 'header--circle',
      h1: 'Круглые дома',
      advantages: 
      [
        {
          name: 'Двухкомнатный номер  площадью 100 м<sup>2</sup> ',
          icon: 'ic--size'
        },
        {
          name: 'Бесплатный  высокоскоростной интернет',
          icon: 'ic--wireless'
        }, 
        {
          name: 'Бесплатный минибар, кофеварка',
          icon: 'ic--bar'
        }, 
        {
          name: 'Завтрак включен  в стоимость',
          icon: 'ic--plate'
        }, 
        {
          name: 'Косметический набор, фен, весы, халат и тапочки', 
          icon: 'ic--dryer'
        },
        {
          name: 'Сейф', 
          icon: 'ic--safe'
        }
      ], 
      content: 
      [
        {
          icon: 'ic--circle1',
          heading: 'Круглый дом',
          text: 
          [
            'Представляет собой отдельностоящий двухэтажный дом под соломенной крышей, который построен из натуральных эко-материалов'
          ]
        }, 
        {
          icon: 'ic--circle2',
          text: 
          [
            'Коттедж оборудован современной летней кухней и мангалом, где Вы сможете создавать свои собственные кулинарные шедевры.', 
            'Это идеальный номер для длительного проживания всей семьей, которое подарит Вам ощущение настоящего лесного дома, в окружении благоухающего леса.'
          ]
        }, 
        {
          icon: 'ic--circle3',
          text: 
          [
            'Комплектация: спальня с ванной, гостиная-студия, камин, ванная комната, барбекю комплекс с беседкой.', 
            {
              title: 'В стоимость номера входит:'
            }, 
            'проживание двоих гостей, завтрак и посещение бассейна.'
          ]
        }, 
        {
          icon: 'ic--circle4',
          heading: 'Другие номера нашего отеля',
          text: 
          [
            'Все номера отеля спланированы для комфортного проживания, но если вы не уверены в своемвыборе, мы с радостью поможем вам найти самый подходящий.', 
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ], 
          gallery: 
          [
            {
              link: './wooden.html',
              img: 'link_wooden.jpg',
              alt: 'Деревянный',
              text: 'Деревянный'
            }, 
            {
              link: './forest.html',
              img: 'link_forest.jpg',
              alt: 'Лесной',
              text: 'Лесной'
            },
            {
              link: './wedding.html', 
              img: 'link_wedding.jpg',
              alt: 'Свадебный',
              text: 'Свадебный'
            }, 
            {
              link: './terrace.html', 
              img: 'link_terrace.jpg',
              alt: 'Терраса',
              text: 'Терраса'
            }, 
            {
              link: './hayloft.html', 
              img: 'link_hayloft.jpg',
              alt: 'Сеновал',
              text: 'Сеновал'
            }, 
            {
              link: './egg.html', 
              img: 'link_egg.jpg',
              alt: 'Дом "Яйцо"',
              text: 'Дом "Яйцо"'
            },
            {
              link: './village', 
              img: 'link_village.jpg', 
              alt: 'Сельский',
              text: 'Сельский'
            },
            {
              link: './lustful.html', 
              img: 'link_lustful.jpg', 
              alt: 'Похотливый',
              text: 'Похотливый'
            }
          ]
        }
      ]
    }, //- circle 
    forest: 
    {
      header_class: 'header--forest',
      h1: 'Лесной номер',
      advantages: 
      [
        {
          name: 'Двухкомнатный номер  площадью 40 м<sup>2</sup> ',
          icon: 'ic--size'
        },
        {
          name: 'Бесплатный  высокоскоростной интернет',
          icon: 'ic--wireless'
        }, 
        {
          name: 'Бесплатный минибар, кофеварка',
          icon: 'ic--bar'
        }, 
        {
          name: 'Завтрак включен  в стоимость',
          icon: 'ic--plate'
        }, 
        {
          name: 'Косметический набор, фен, весы, халат и тапочки', 
          icon: 'ic--dryer'
        },
        {
          name: 'Сейф', 
          icon: 'ic--safe'
        }
      ], 
      content: 
      [
        {
          icon: 'ic--forest1',
          heading: 'Лесной номер',
          text: 
          [
            'В Лесном номере роскошь сочетается с уникальными природными формами.',
            'Благодаря контрастным сочетаниям в интерьере невозможно не влюбиться в окружающую обстановку.'
          ]
        }, 
        {
          icon: 'ic--forest2',
          text: 
          [
            'Несмотря на классический стиль мебели, в номере явно чувствуется нотка Прованса. Уютные мотивы Лесного номера, навеянные духом прошлого, создадут неповторимую атмосферу расслабленности и комфорта.'
          ]
        }, 
        {
          icon: 'ic--forest3',
          text: 
          [
            'Лесной номер состоит из просторной спальни и ванной комнаты.', 
            {
              title: 'В стоимость номера входит:'
            }, 
            'проживание двоих гостей, завтрак и посещение крытого бассейна.'
          ]
        }, 
        {
          icon: 'ic--forest4',
          heading: 'Другие номера нашего отеля',
          text: 
          [
            'Все номера отеля спланированы для комфортного проживания, но если вы не уверены в своемвыборе, мы с радостью поможем вам найти самый подходящий.', 
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ], 
          gallery: 
          [
            {
              link: './wooden.html',
              img: 'link_wooden.jpg',
              alt: 'Деревянный',
              text: 'Деревянный'
            }, 
            {
              link: './forest.html',
              img: 'link_forest.jpg',
              alt: 'Лесной',
              text: 'Лесной'
            },
            {
              link: './wedding.html', 
              img: 'link_wedding.jpg',
              alt: 'Свадебный',
              text: 'Свадебный'
            }, 
            {
              link: './terrace.html', 
              img: 'link_terrace.jpg',
              alt: 'Терраса',
              text: 'Терраса'
            }, 
            {
              link: './hayloft.html', 
              img: 'link_hayloft.jpg',
              alt: 'Сеновал',
              text: 'Сеновал'
            }, 
            {
              link: './egg.html', 
              img: 'link_egg.jpg',
              alt: 'Дом "Яйцо"',
              text: 'Дом "Яйцо"'
            },
            {
              link: './village', 
              img: 'link_village.jpg', 
              alt: 'Сельский',
              text: 'Сельский'
            },
            {
              link: './lustful.html', 
              img: 'link_lustful.jpg', 
              alt: 'Похотливый',
              text: 'Похотливый'
            }
          ]
        }
      ]
    }, //- forest 
    lustful: 
    {
      header_class: 'header--lustful',
      h1: 'Похотливый номер',
      advantages: 
      [
        {
          name: 'Двухкомнатный номер  площадью 20 м<sup>2</sup> ',
          icon: 'ic--size'
        },
        {
          name: 'Бесплатный  высокоскоростной интернет',
          icon: 'ic--wireless'
        }, 
        {
          name: 'Бесплатный минибар, кофеварка',
          icon: 'ic--bar'
        }, 
        {
          name: 'Завтрак включен  в стоимость',
          icon: 'ic--plate'
        }, 
        {
          name: 'Косметический набор, фен, весы, халат и тапочки', 
          icon: 'ic--dryer'
        },
        {
          name: 'Сейф', 
          icon: 'ic--safe'
        }
      ], 
      content: 
      [
        {
          icon: 'ic--lustful1',
          heading: 'Похотливый номер',
          text: 
          [
            'Стильная мебель, отражающая дух Прованса располагает к романтическим эмоциям и самым теплым чувствам.',
            'Номер в отеле декорирован таким образом, что создает неуловимую чувственную атмосферу.'
          ]
        }, 
        {
          icon: 'ic--lustful2',
          text: 
          [
            'Уютный номер только для вас двоих — это уникальная возможность отдохнуть от суеты города, насладиться красотой природы и получить от выходных максимум приятных эмоций.'
          ]
        }, 
        {
          icon: 'ic--lustful3',
          text: 
          [
            'Номер состоит из спальни и ванной комнаты.', 
            {
              title: 'В стоимость номера входит:'
            }, 
            'проживание двоих гостей, завтрак и посещение бассейна.'
          ]
        }, 
        {
          icon: 'ic--lustful4',
          heading: 'Другие номера нашего отеля',
          text: 
          [
            'Все номера отеля спланированы для комфортного проживания, но если вы не уверены в своемвыборе, мы с радостью поможем вам найти самый подходящий.', 
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ], 
          gallery: 
          [
            {
              link: './wooden.html',
              img: 'link_wooden.jpg',
              alt: 'Деревянный',
              text: 'Деревянный'
            }, 
            {
              link: './forest.html',
              img: 'link_forest.jpg',
              alt: 'Лесной',
              text: 'Лесной'
            },
            {
              link: './wedding.html', 
              img: 'link_wedding.jpg',
              alt: 'Свадебный',
              text: 'Свадебный'
            }, 
            {
              link: './terrace.html', 
              img: 'link_terrace.jpg',
              alt: 'Терраса',
              text: 'Терраса'
            }, 
            {
              link: './hayloft.html', 
              img: 'link_hayloft.jpg',
              alt: 'Сеновал',
              text: 'Сеновал'
            }, 
            {
              link: './egg.html', 
              img: 'link_egg.jpg',
              alt: 'Дом "Яйцо"',
              text: 'Дом "Яйцо"'
            },
            {
              link: './village', 
              img: 'link_village.jpg', 
              alt: 'Сельский',
              text: 'Сельский'
            },
            {
              link: './lustful.html', 
              img: 'link_lustful.jpg', 
              alt: 'Похотливый',
              text: 'Похотливый'
            }
          ]
        }
      ]
    }, //- lustful
    wedding: 
    {
      header_class: 'header--wedding',
      h1: 'Свадебный номер',
      advantages: 
      [
        {
          name: 'Двухкомнатный номер  площадью 60 м<sup>2</sup> ',
          icon: 'ic--size'
        },
        {
          name: 'Бесплатный  высокоскоростной интернет',
          icon: 'ic--wireless'
        }, 
        {
          name: 'Бесплатный минибар, кофеварка',
          icon: 'ic--bar'
        }, 
        {
          name: 'Завтрак включен  в стоимость',
          icon: 'ic--plate'
        }, 
        {
          name: 'Косметический набор, фен, весы, халат и тапочки', 
          icon: 'ic--dryer'
        },
        {
          name: 'Сейф', 
          icon: 'ic--safe'
        }
      ], 
      content: 
      [
        {
          icon: 'ic--wedding1',
          heading: 'Свадебный номер',
          text: 
          [
            'Две просторные спальни дадут возможность полностью расслабиться и восстановить силы после волнительного торжественного мероприятия.',
            'Что может быть более желанным, чем начать новый этап жизни вместе с любимым, наслаждаясь звуками природы и красивейшими видами леса.'
          ]
        }, 
        {
          icon: 'ic--wedding2',
          text: 
          [
            'Ненавязчивый интерьер Свадебного номера и удобная мебель, декорированная натуральными материалами, даст возможнос ть сосредоточиться на любви и нежности, приятном общении друг с другом.'
          ]
        }, 
        {
          icon: 'ic--wedding3',
          text: 
          [
            'Номер состоит из двух спален и холла, ванной комнаты и балкона.', 
            {
              title: 'В стоимость номера входит:'
            }, 
            'проживание двоих гостей, завтрак, посещение крытого бассейна.'
          ]
        }, 
        {
          icon: 'ic--wedding4',
          heading: 'Другие номера нашего отеля',
          text: 
          [
            'Все номера отеля спланированы для комфортного проживания, но если вы не уверены в своемвыборе, мы с радостью поможем вам найти самый подходящий.', 
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ], 
          gallery: 
          [
            {
              link: './wooden.html',
              img: 'link_wooden.jpg',
              alt: 'Деревянный',
              text: 'Деревянный'
            }, 
            {
              link: './forest.html',
              img: 'link_forest.jpg',
              alt: 'Лесной',
              text: 'Лесной'
            },
            {
              link: './wedding.html', 
              img: 'link_wedding.jpg',
              alt: 'Свадебный',
              text: 'Свадебный'
            }, 
            {
              link: './terrace.html', 
              img: 'link_terrace.jpg',
              alt: 'Терраса',
              text: 'Терраса'
            }, 
            {
              link: './hayloft.html', 
              img: 'link_hayloft.jpg',
              alt: 'Сеновал',
              text: 'Сеновал'
            }, 
            {
              link: './egg.html', 
              img: 'link_egg.jpg',
              alt: 'Дом "Яйцо"',
              text: 'Дом "Яйцо"'
            },
            {
              link: './village', 
              img: 'link_village.jpg', 
              alt: 'Сельский',
              text: 'Сельский'
            },
            {
              link: './lustful.html', 
              img: 'link_lustful.jpg', 
              alt: 'Похотливый',
              text: 'Похотливый'
            }
          ]
        }
      ]
    }, //- wedding
    village: 
    {
      header_class: 'header--village',
      h1: 'Сельский номер',
      advantages: 
      [
        {
          name: 'Двухкомнатный номер  площадью 56 м<sup>2</sup> ',
          icon: 'ic--size'
        },
        {
          name: 'Бесплатный  высокоскоростной интернет',
          icon: 'ic--wireless'
        }, 
        {
          name: 'Бесплатный минибар, кофеварка',
          icon: 'ic--bar'
        }, 
        {
          name: 'Завтрак включен  в стоимость',
          icon: 'ic--plate'
        }, 
        {
          name: 'Косметический набор, фен, весы, халат и тапочки', 
          icon: 'ic--dryer'
        },
        {
          name: 'Сейф', 
          icon: 'ic--safe'
        }
      ], 
      content: 
      [
        {
          icon: 'ic--village1',
          heading: 'Сельский номер',
          text: 
          [
            'Сельский номер – это настоящее царство простого, и при этом, комфортного семейного отдыха вдали от небоскребов и шумного города. ',
            'Номер декорирован натуральными материалами в украинском, деревенском стиле.'
          ]
        }, 
        {
          icon: 'ic--village2',
          text: 
          [
            'Восстановить душевное равновесие можно расположившись на открытой террасе за чашкой ароматного чая и вдумчиво созерцать природу, наполняясь ее силой.',
            'Открытая терраса так же подойдет для теплых семейных вечеров, когда за большим столом в кругу самых родных и близких можно насладиться вкуснейшими блюдами и приятным общением.'
          ]
        }, 
        {
          icon: 'ic--village3',
          text: 
          [
            'Номер состоит из спальни, студии - гостиной, кухни, открытой террасы, ванной комнаты.', 
            {
              title: 'В стоимость номера входит:'
            }, 
            'проживание двоих гостей, завтрак, посещение крытого бассейна.'
          ]
        }, 
        {
          icon: 'ic--village4',
          heading: 'Другие номера нашего отеля',
          text: 
          [
            'Все номера отеля спланированы для комфортного проживания, но если вы не уверены в своемвыборе, мы с радостью поможем вам найти самый подходящий.', 
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ], 
          gallery: 
          [
            {
              link: './wooden.html',
              img: 'link_wooden.jpg',
              alt: 'Деревянный',
              text: 'Деревянный'
            }, 
            {
              link: './forest.html',
              img: 'link_forest.jpg',
              alt: 'Лесной',
              text: 'Лесной'
            },
            {
              link: './wedding.html', 
              img: 'link_wedding.jpg',
              alt: 'Свадебный',
              text: 'Свадебный'
            }, 
            {
              link: './terrace.html', 
              img: 'link_terrace.jpg',
              alt: 'Терраса',
              text: 'Терраса'
            }, 
            {
              link: './hayloft.html', 
              img: 'link_hayloft.jpg',
              alt: 'Сеновал',
              text: 'Сеновал'
            }, 
            {
              link: './egg.html', 
              img: 'link_egg.jpg',
              alt: 'Дом "Яйцо"',
              text: 'Дом "Яйцо"'
            },
            {
              link: './village', 
              img: 'link_village.jpg', 
              alt: 'Сельский',
              text: 'Сельский'
            },
            {
              link: './lustful.html', 
              img: 'link_lustful.jpg', 
              alt: 'Похотливый',
              text: 'Похотливый'
            }
          ]
        }
      ]
    }, //- village
    hayloft: 
    {
      header_class: 'header--hayloft',
      h1: 'Номер “Сеновал”',
      advantages: 
      [
        {
          name: 'Двухкомнатный номер  площадью 40 м<sup>2</sup> ',
          icon: 'ic--size'
        },
        {
          name: 'Бесплатный  высокоскоростной интернет',
          icon: 'ic--wireless'
        }, 
        {
          name: 'Бесплатный минибар, кофеварка',
          icon: 'ic--bar'
        }, 
        {
          name: 'Завтрак включен  в стоимость',
          icon: 'ic--plate'
        }, 
        {
          name: 'Косметический набор, фен, весы, халат и тапочки', 
          icon: 'ic--dryer'
        },
        {
          name: 'Сейф', 
          icon: 'ic--safe'
        }
      ], 
      content: 
      [
        {
          icon: 'ic--hayloft1',
          heading: 'Номер “Сеновал”',
          text: 
          [
            'Чтобы полноценно восстановить растраченные за трудовую неделю силы необходимо снять номер в отеле под названием Сеновал.'
          ]
        }, 
        {
          icon: 'ic--hayloft2',
          text: 
          [
            'Оригинальное декорирование интерьера соломой, и интересная планировка двухэтажного номера преподнесут множество положительных впечатлений и зарядят вас живительными силами для новых свершений. '
          ]
        }, 
        {
          icon: 'ic--hayloft3',
          text: 
          [
            'Номер состоит из спальни, ванной комнаты и гостиной.', 
            {
              title: 'В стоимость номера входит:'
            }, 
            'проживание двоих гостей, завтрак и посещение бассейна.'
          ]
        }, 
        {
          icon: 'ic--hayloft4',
          heading: 'Другие номера нашего отеля',
          text: 
          [
            'Все номера отеля спланированы для комфортного проживания, но если вы не уверены в своемвыборе, мы с радостью поможем вам найти самый подходящий.', 
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ], 
          gallery: 
          [
            {
              link: './wooden.html',
              img: 'link_wooden.jpg',
              alt: 'Деревянный',
              text: 'Деревянный'
            }, 
            {
              link: './forest.html',
              img: 'link_forest.jpg',
              alt: 'Лесной',
              text: 'Лесной'
            },
            {
              link: './wedding.html', 
              img: 'link_wedding.jpg',
              alt: 'Свадебный',
              text: 'Свадебный'
            }, 
            {
              link: './terrace.html', 
              img: 'link_terrace.jpg',
              alt: 'Терраса',
              text: 'Терраса'
            }, 
            {
              link: './hayloft.html', 
              img: 'link_hayloft.jpg',
              alt: 'Сеновал',
              text: 'Сеновал'
            }, 
            {
              link: './egg.html', 
              img: 'link_egg.jpg',
              alt: 'Дом "Яйцо"',
              text: 'Дом "Яйцо"'
            },
            {
              link: './village', 
              img: 'link_village.jpg', 
              alt: 'Сельский',
              text: 'Сельский'
            },
            {
              link: './lustful.html', 
              img: 'link_lustful.jpg', 
              alt: 'Похотливый',
              text: 'Похотливый'
            }
          ]
        }
      ]
    }, //- hayloft
    terrace: 
    {
      header_class: 'header--terrace',
      h1: 'Номер “Терраса”', 
      advantages: 
      [
        {
          name: 'Двухкомнатный номер  площадью 32 м<sup>2</sup> ',
          icon: 'ic--size'
        },
        {
          name: 'Бесплатный  высокоскоростной интернет',
          icon: 'ic--wireless'
        }, 
        {
          name: 'Бесплатный минибар, кофеварка',
          icon: 'ic--bar'
        }, 
        {
          name: 'Завтрак включен  в стоимость',
          icon: 'ic--plate'
        }, 
        {
          name: 'Косметический набор, фен, весы, халат и тапочки', 
          icon: 'ic--dryer'
        },
        {
          name: 'Сейф', 
          icon: 'ic--safe'
        }
      ], 
      content: 
      [
        {
          icon: 'ic--terrace1',
          heading: 'Номер “Терраса”',
          text: 
          [
            'Номер в отеле под названием Терраса – это просторное, пространство с двумя спальнями и живописной террасой.'
          ]
        }, 
        {
          icon: 'ic--terrace2',
          text: 
          [
            'Апартаменты буквально напитывает энергией и позитивными эмоциями. Атмосферность пространству придают комфортные предметы дизайна из природных материалов, которые предопределяют позитивный семейный отдых и релаксацию. '
          ]
        }, 
        {
          icon: 'ic--terrace3',
          text: 
          [
            'Номер состоит из двух уютных спален, ванной комнаты и террасы.', 
            {
              title: 'В стоимость номера входит:'
            }, 
            'проживание двоих гостей, завтрак и посещение бассейна.'
          ]
        }, 
        {
          icon: 'ic--terrace4',
          heading: 'Другие номера нашего отеля',
          text: 
          [
            'Все номера отеля спланированы для комфортного проживания, но если вы не уверены в своемвыборе, мы с радостью поможем вам найти самый подходящий.', 
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ], 
          gallery: 
          [
            {
              link: './wooden.html',
              img: 'link_wooden.jpg',
              alt: 'Деревянный',
              text: 'Деревянный'
            }, 
            {
              link: './forest.html',
              img: 'link_forest.jpg',
              alt: 'Лесной',
              text: 'Лесной'
            },
            {
              link: './wedding.html', 
              img: 'link_wedding.jpg',
              alt: 'Свадебный',
              text: 'Свадебный'
            }, 
            {
              link: './terrace.html', 
              img: 'link_terrace.jpg',
              alt: 'Терраса',
              text: 'Терраса'
            }, 
            {
              link: './hayloft.html', 
              img: 'link_hayloft.jpg',
              alt: 'Сеновал',
              text: 'Сеновал'
            }, 
            {
              link: './egg.html', 
              img: 'link_egg.jpg',
              alt: 'Дом "Яйцо"',
              text: 'Дом "Яйцо"'
            },
            {
              link: './village', 
              img: 'link_village.jpg', 
              alt: 'Сельский',
              text: 'Сельский'
            },
            {
              link: './lustful.html', 
              img: 'link_lustful.jpg', 
              alt: 'Похотливый',
              text: 'Похотливый'
            }
          ]
        }
      ]
    }, //- terrace
    egg: 
    {
      header_class: 'header--egg',
      h1: 'Номер “Яйцо”',
      advantages: 
      [
        {
          name: 'Двухкомнатный номер  площадью 55 м<sup>2</sup> ',
          icon: 'ic--size'
        },
        {
          name: 'Бесплатный  высокоскоростной интернет',
          icon: 'ic--wireless'
        }, 
        {
          name: 'Бесплатный минибар, кофеварка',
          icon: 'ic--bar'
        }, 
        {
          name: 'Завтрак включен  в стоимость',
          icon: 'ic--plate'
        }, 
        {
          name: 'Косметический набор, фен, весы, халат и тапочки', 
          icon: 'ic--dryer'
        },
        {
          name: 'Сейф', 
          icon: 'ic--safe'
        }
      ], 
      content: 
      [
        {
          icon: 'ic--egg1',
          heading: 'Номер “Яйцо”',
          text: 
          [
            'Захотелось колорита? Тогда, несомненно, нужно выбрать Яйца - номера в отеле, особенно близко расположенные к природе. '
          ]
        }, 
        {
          icon: 'ic--egg2',
          text: 
          [
            'Однокомнатный коттедж под соломенной кровлей соответствует всем европейским стандартам комплектации и подразумевает полную гармонию с природой.'
          ]
        }, 
        {
          icon: 'ic--egg3',
          text: 
          [
            'Номер состоит из спальни, ванной комнаты и гардеробной.', 
            {
              title: 'В стоимость номера входит:'
            }, 
            'проживание двоих гостей, завтрак и посещение бассейна.'
          ]
        }, 
        {
          icon: 'ic--egg4',
          heading: 'Другие номера нашего отеля',
          text: 
          [
            'Все номера отеля спланированы для комфортного проживания, но если вы не уверены в своемвыборе, мы с радостью поможем вам найти самый подходящий.', 
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ], 
          gallery: 
          [
            {
              link: './wooden.html',
              img: 'link_wooden.jpg',
              alt: 'Деревянный',
              text: 'Деревянный'
            }, 
            {
              link: './forest.html',
              img: 'link_forest.jpg',
              alt: 'Лесной',
              text: 'Лесной'
            },
            {
              link: './wedding.html', 
              img: 'link_wedding.jpg',
              alt: 'Свадебный',
              text: 'Свадебный'
            }, 
            {
              link: './terrace.html', 
              img: 'link_terrace.jpg',
              alt: 'Терраса',
              text: 'Терраса'
            }, 
            {
              link: './hayloft.html', 
              img: 'link_hayloft.jpg',
              alt: 'Сеновал',
              text: 'Сеновал'
            }, 
            {
              link: './egg.html', 
              img: 'link_egg.jpg',
              alt: 'Дом "Яйцо"',
              text: 'Дом "Яйцо"'
            },
            {
              link: './village', 
              img: 'link_village.jpg', 
              alt: 'Сельский',
              text: 'Сельский'
            },
            {
              link: './lustful.html', 
              img: 'link_lustful.jpg', 
              alt: 'Похотливый',
              text: 'Похотливый'
            }
          ]
        }
      ]
    }, //- egg
    wooden: 
    {
      header_class: 'header--wooden',
      h1: 'Деревянный', 
      advantages: 
      [
        {
          name: 'Двухкомнатный номер  площадью 55 м<sup>2</sup> ',
          icon: 'ic--size'
        },
        {
          name: 'Бесплатный  высокоскоростной интернет',
          icon: 'ic--wireless'
        }, 
        {
          name: 'Бесплатный минибар, кофеварка',
          icon: 'ic--bar'
        }, 
        {
          name: 'Завтрак включен  в стоимость',
          icon: 'ic--plate'
        }, 
        {
          name: 'Косметический набор, фен, весы, халат и тапочки', 
          icon: 'ic--dryer'
        },
        {
          name: 'Сейф', 
          icon: 'ic--safe'
        }
      ], 
      content: 
      [
        {
          icon: 'ic--wooden1',
          heading: 'Деревянный',
          text: 
          [
            'Деревянный дом представляет собой отдельностоящий двухэтажный деревянный дом со своим двориком, в котором находиться личный бассейн, мангал, и место для автомобиля.'
          ]
        }, 
        {
          icon: 'ic--wooden2',
          text: 
          [
            'В доме три отдельных спальни, большая кухня, камин, терраса, балкон с джакузи с видом на лес. Дом идеально подходит для длительного проживания всей семьей. '
          ]
        }, 
        {
          icon: 'ic--wooden3',
          text: 
          [
            'Комплектация: три спальни, кухня, ванная, джакузи', 
            {
              title: 'В стоимость номера входит:'
            }, 
            'проживание двоих гостей, завтрак и посещение бассейна.'
          ]
        }, 
        {
          icon: 'ic--wooden4',
          heading: 'Другие номера нашего отеля',
          text: 
          [
            'Все номера отеля спланированы для комфортного проживания, но если вы не уверены в своемвыборе, мы с радостью поможем вам найти самый подходящий.', 
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ], 
          gallery: 
          [
            {
              link: './wooden.html',
              img: 'link_wooden.jpg',
              alt: 'Деревянный',
              text: 'Деревянный'
            }, 
            {
              link: './forest.html',
              img: 'link_forest.jpg',
              alt: 'Лесной',
              text: 'Лесной'
            },
            {
              link: './wedding.html', 
              img: 'link_wedding.jpg',
              alt: 'Свадебный',
              text: 'Свадебный'
            }, 
            {
              link: './terrace.html', 
              img: 'link_terrace.jpg',
              alt: 'Терраса',
              text: 'Терраса'
            }, 
            {
              link: './hayloft.html', 
              img: 'link_hayloft.jpg',
              alt: 'Сеновал',
              text: 'Сеновал'
            }, 
            {
              link: './egg.html', 
              img: 'link_egg.jpg',
              alt: 'Дом "Яйцо"',
              text: 'Дом "Яйцо"'
            },
            {
              link: './village', 
              img: 'link_village.jpg', 
              alt: 'Сельский',
              text: 'Сельский'
            },
            {
              link: './lustful.html', 
              img: 'link_lustful.jpg', 
              alt: 'Похотливый',
              text: 'Похотливый'
            }
          ]
        }
      ]
    }, //- wooden
    bath: 
    {
      header_class: 'header--bath',
      h1: 'Банный комплекс',
      subheading: 'Расслабляйтесь с пользой! Приходите к нам за хорошим настроением, мотивацией и отличными результатами.', 
      advantages: 
      [
        {
          name: 'Соляная  комната',
          icon: 'ic--saline'
        },
        {
          name: 'Русская баня',
          icon: 'ic--sauna'
        }, 
        {
          name: 'Инфракрасная сауна',
          icon: 'ic--infared'
        }, 
        {
          name: 'Карпатский чан',
          icon: 'ic--vat'
        }
      ], 
      content: 
      [
        {
          icon: 'ic--bath1',
          heading: 'СПА-процедуры и массаж',
          text: 
          [
            'Загородный отдых создан не только для отдыха уши, но и для тела. Банный-комплекс в Экопарк "Седьмое Небо" включает русскую баню, инфракрасную сауну и уникальные карпатские чаны. ', 
            'Попариться с друзьями, расслабиться вдали от города все что нужно после трудовой недели. Наши гости могут весело провести время и оздоровиться.',
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ]
        }, 
        {
          icon: 'ic--bath2',
          heading: 'Русская баня',
          text: 
          [
            'Особенность нашей русской бани – сочетание целебного пара и специальной температуры. Русская баня спроектирована по всем канонам, при строительстве мы использовали древесину, пары от которой издавна оказывали положительное влияние на дыхательные пути.'
          ]
        }, 
        {
          icon: 'ic--bath3',
          heading: 'Карпатские чаны',
          text: 
          [
            'Карпатские чаны – это замена стандартной бане, сауне. Процедура исключает парилку до изнеможения. Особенности чана бани в контрасте – сначала вы сидите в горячей воде, затем окунаетесь в холодную и так по кругу. Это позволяет укрепить иммунитет и оздоровиться.'
          ]
        }, 
        {
          icon: 'ic--bath4',
          heading: 'Инфракрасная сауна',
          text: 
          [
            'В Экопарк "Седьмое Небо" гости отдохнут на природе и оздоровятся. Инфракрасная сауна открыта для наших гостей. После процедуры Вы чувствуете прилив сил, организм прогревается изнутри. Инфракрасная -сауна не пересушивает воздух, что делает ее очень комфортной для посещения женщинами. '
          ]
        }, 
        {
          icon: 'ic--bath5',
          heading: 'Солевая комната',
          text: 
          [
            'Солевая комната помогают улучшить кровообращение, уменьшить приступы астмы и даже похудеть. Процедуры безвредны, вы просто отдыхаете, вдыхаете пары соли и оздоравливаетесь.'
          ]
        }, 
        {
          icon: 'ic--bath6',
          heading: 'Гидромассажный кабинет',
          text: 
          [
            'Гидромассажный кабинет – один из видов spa-процедур, которые мы предоставляем нашим гостям. Гидромассаж расслабляет и благотворно влияет иммунитет, укрепляя его, нормализуя работу сердца. Вы полностью расслабляетесь и приносите пользую своему сердцу.  Гидромассаж поможет зарядить энергией и предаст сил.', 
            {
              title: 'Отдел бронирования:'
            }, 
            {
              phone: 
              {
                name: '+38 (050) 796-52-89', 
                link: '+380507965289'
              }
            }, 
            {
              street: 'п. Кировское, ул. Тихая 106'
            }
          ]
        }
      ]
    }, //- bath
    fun: 
    {
      header_class: 'header--fun',
      h1: 'Развлечения',
      subheading: 'Расслабляйтесь с пользой! Приходите к нам за хорошим настроением, мотивацией и отличными результатами.', 
      advantages: 
      [
        {
          name: 'Волейбол',
          icon: 'ic--volleyball'
        },
        {
          name: 'Бильярд',
          icon: 'ic--billiard'
        }, 
        {
          name: 'Басейн',
          icon: 'ic--pool'
        }, 
        {
          name: 'Велопрокат',
          icon: 'ic--bike'
        }, 
        {
          name: 'Пин Понг',
          icon: 'ic--pong'
        }, 
        {
          name: 'Детская площадка',
          icon: 'ic--duck'
        }, 
        {
          name: 'Няни и аниматоры',
          icon: 'ic--animator'
        }, 
        {
          name: 'Кинотеатр',
          icon: 'ic--cinema'
        }
      ], 
      carousel: 
      [
        {
          img: 'slide1.jpg',
          alt: 'Деревянный'
        }, 
        {
          img: 'slide2.jpg',
          alt: 'Лесной'
        },
        {
          img: 'slide3.jpg',
          alt: 'Свадебный'
        }, 
        {
          img: 'slide4.jpg',
          alt: 'Терраса'
        }, 
        {
          img: 'slide5.jpg',
          alt: 'Сеновал'
        }, 
        {
          img: 'slide6.jpg',
          alt: 'Дом "Яйцо"'
        }
      ]
    }, //- fun
    event: 
    {
      header_class: 'header--event',
      h1: 'События',
      subheading: 'Расслабляйтесь с пользой! Приходите к нам за хорошим настроением, мотивацией и отличными результатами.', 
      advantages: 
      [
        {
          name: 'Волейбол',
          icon: 'ic--volleyball'
        },
        {
          name: 'Бильярд',
          icon: 'ic--billiard'
        }, 
        {
          name: 'Басейн',
          icon: 'ic--pool'
        }, 
        {
          name: 'Велопрокат',
          icon: 'ic--bike'
        }, 
        {
          name: 'Пин Понг',
          icon: 'ic--pong'
        }, 
        {
          name: 'Детская площадка',
          icon: 'ic--duck'
        }, 
        {
          name: 'Няни и аниматоры',
          icon: 'ic--animator'
        }, 
        {
          name: 'Кинотеатр',
          icon: 'ic--cinema'
        }
      ], 
      carousel: 
      [
        {
          img: 'slide7.jpg',
          alt: 'Деревянный'
        }, 
        {
          img: 'slide8.jpg',
          alt: 'Лесной'
        },
        {
          img: 'slide9.jpg',
          alt: 'Свадебный'
        }, 
        {
          img: 'slide10.jpg',
          alt: 'Терраса'
        }, 
        {
          img: 'slide11.jpg',
          alt: 'Сеновал'
        }, 
        {
          img: 'slide12.jpg',
          alt: 'Дом "Яйцо"'
        }
      ]
    } //- event
  }









