.panorama               
footer.footer
  .container
    .row
      .col-xs-12.col-sm-4.footer__col
        h2.footer__heading Эко парк «7 небо»
        .footer__subheading п. Кировское, ул. Тихая 106
      .col-xs-12.col-sm-4.col-md-3.pull-right.footer__col--social
        p.footer__text Мы в социальных сетях:  
        .footer__social.social
          a.social__link.social__link--inst(href="#")
          a.social__link.social__link--fb(href="#") 
          a.social__link.social__link--youtube(href="#")  