header.header(class= page.header_class)
  .container
    .row
      .col-xs-12.col-sm-5.col-md-4.pull-right
        include ../components/_contact.pug
    .row
      .col-xs-12 
        .row
          .col-xs-12.col-sm-4.header__col
            a.logo(href='#')
              img.img-responsive.logo__img(src='img/logo/logo.png' alt='ЭКО ПАРК «7 НЕБО»')
          .col-xs-12.col-sm-8 
            h1.heading!= page.h1
            h2.subheading.subheading--main!= page.subheading
    .row
      each advantage in page.advantages
        .col-xs-12.col-sm-6.col-md-4.col-lg-3
          .advantage
            i.ic.advantage__icon(class= advantage.icon)
            span.advantage__name!= advantage.name