.intro
  .container
    .row
      .col-xs-12.col-sm-9.col-md-5
        p.intro__text Экопарк "Седьмое Небо" - уникальный клуб семейного отдыха закритого типа, который не имеет аналогов в Украине, клуб расположен в 20 километрах от Днепра, в уединённом и тихом месте, где природа гармонично взаимодействует с современной обстановкой. К вашим услугам оригинальные номера отеля, построенные из натуральных эко материалов, Банный комплекс с различным спектром услуг, ресторан украинской кухни с блюдами приготовленными в печи и многое другое.
        p.intro__subtext Приезжайте к нам услышать тишину природы.
      .col-xs-12.col-md-7  
        .row
          .col-xs-12.col-sm-6.text-center
            a.intro__link
              img.img-responsive.intro__img(src='img/intro1.jpg' alt="дом1")
              .intro__hover 
                .intro__hover-content Дом Яйцо
          .col-xs-12.col-sm-6.text-center
            a.intro__link
              img.img-responsive.intro__img(src='img/intro2.jpg' alt="дом2")
              .intro__hover 
                .intro__hover-content Свадебный
          .col-xs-12.col-sm-6.text-center
            a.intro__link
              img.img-responsive.intro__img(src='img/intro3.jpg' alt="дом3")
              .intro__hover 
                .intro__hover-content Лесной
          .col-xs-12.col-sm-6.text-center
            a.intro__link
              img.img-responsive.intro__img(src='img/intro4.jpg' alt="дом4")
              .intro__hover 
                .intro__hover-content Круглый дом
          .col-xs-12.col-sm-6.text-center.intro__col
            a.intro__link
              img.img-responsive.intro__img(src='img/intro5.jpg' alt="дом5")
              .intro__hover 
                .intro__hover-content Номер терраса
          .col-xs-12.col-sm-6.text-center.intro__col
            a.intro__link
              img.img-responsive.intro__img(src='img/intro6.jpg' alt="дом6")
              .intro__hover 
                .intro__hover-content Сельский
          .col-xs-12.col-sm-6.text-center.intro__col
            a.intro__link
              img.img-responsive.intro__img(src='img/intro7.jpg' alt="дом7")
              .intro__hover 
                .intro__hover-content Деревянный дом
          .col-xs-12.col-sm-6.text-center.intro__col
            a.intro__link
              img.img-responsive.intro__img(src='img/intro8.jpg' alt="дом8")
              .intro__hover 
                .intro__hover-content Похотливый                         
          .col-xs-12.text-center
            button.btn.intro__btn Показать все номера     