#header__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        .modal__heading Оставьте ваши контакты, и мы свяжемся с вами
      form.contactForm.modal__form(name='Шапка', method='post', action='mail/mail.php')
        .form-group
          input.form-control.modal__input.form__name(aria-invalid='false', placeholder='Ваше имя', required, data-validation-required-message='Please enter your name.', name='name', type='text')
        .form-group
          input.form-control.modal__input.form__phone(aria-invalid='false', placeholder='Ваш телефон', required, data-validation-required-message='Please enter your phone number.', name='phone', type='tel')
        .form-group
          input.form-control.modal__input.form__mail(aria-invalid='false', placeholder='Ваш e-mail', required, data-validation-required-message='Please enter your phone number.', name='email', type='email')
        .text-center
          button.btn.modal__btn(type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Заказать звонок