.services
  .container
    .row
      .col-xs-12.col-sm-6
        .item.item--1
          h3.item__heading Ресторан
          p.item__text РЕСТОРАН Экопарка "Седьмое Небо" — это европейская кухня, которая базируется на аутентичных эко-технологиях с применением только натуральных, органических продуктов из собственных ферм и огородов.
          a.btn.item__btn(href="./restaurant.html") Подробнее
          span.item__icon.item__icon--1
      .col-xs-12.col-sm-6
        .item.item--2
          h3.item__heading Банный комплекс
          p.item__text Банный-комплекс в Экопарк "Седьмое Небо" включает русскую баню, инфракрасную сауну и уникальные карпатские чаны. 
          a.btn.item__btn(href="./bath.html")  Подробнее
          span.item__icon.item__icon--2
      .col-xs-12.col-sm-6
        .item.item--3
          h3.item__heading Развлечения
          p.item__text К вашим услугам Крытый и открытый бассейн, кинотеатр, бильярдный зал, волейбольная площадка, детская площадка и многое другое.
          a.btn.item__btn Подробнее
          span.item__icon.item__icon--3
      .col-xs-12.col-sm-6
        .item.item--4
          h3.item__heading Мероприятия
          p.item__text В этом разделе вы можете ознакомиться с мероприятиями которые пройдут у нас в ближайшее время.
          a.btn.item__btn Подробнее  
          span.item__icon.item__icon--4