extends base/_layout.pug
block variables
  - var title = 'Свадебный номер'
block styles

block scripts

block content
  header.header(class= content.wedding.header_class)
    .container
      .row
        .col-xs-12.col-sm-5.col-md-4.pull-right
          include components/_contact.pug
      .row
        .col-xs-12 
          .row
            .col-xs-12.col-sm-4.header__col
              a.logo(href='#')
                img.img-responsive.logo__img(src='img/logo/logo.png' alt='ЭКО ПАРК «7 НЕБО»')
            .col-xs-12.col-sm-8 
              h1.heading!= content.wedding.h1
              h2.subheading.subheading--main!= content.wedding.subheading
      .row
        each advantage, i in content.wedding.advantages
          .col-xs-12.col-sm-6.col-md-4.col-lg-3
            .advantage
              i.ic.advantage__icon(class= advantage.icon)
              span.advantage__name!= advantage.name
  include partials/_wedding.pug
block footer
  include partials/_footer.pug
block modals
  include partials/_modals.pug